.Basic {
    position: relative;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(180, 180, 180);
}
.ElementTable {
    position: absolute;
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(180, 180, 180);
    border-radius: 5px;
}

.ElementTableScrollRelative {
    position: absolute;
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(180, 180, 180);
    border-radius: 5px;
}

.TurnCirlce {
    position: absolute;
    background-color: rgb(180, 180, 180);
    height: 10px; width: 10px;
    border-radius: 100%;
}